<section class="chat-main background-secondery-color vh-100 ">
   <div class="chat-item m-auto row background-color ">
      <div class="side-bar col-md-3 p-0">
         <!-- sidebar-header -->
         <div class="sidebar-header bg-white-gray d-flex align-items-center justify-content-between ">
            <img class="w-25 px-3 py-2" src="../../assets/images/avatar2.png" alt="">
            <div class="sidebar-icons  text-muted">
               <i class="fa-solid fa-user-group px-3"></i>
               <i class="fa-solid fa-message px-3"></i>
               <i class="fa-solid fa-ellipsis-vertical px-3"></i>
            </div>
         </div>
         <!-- user-search -->
         <div class="user-search px-2">
            <input type="text" class="form-control my-2  w-100" placeholder="search or start new chat">
            <i class="fa-solid fa-bars-filter"></i>
         </div>
         <!-- sidebar-users -->
         <div class="sidebar-users scroll-down">
            <!-- user start -->
            <div class="user d-flex align-items-center justify-content-start  mx-3 pe-2">
               <img class="w-15" src="../../assets/images/avatar2.png" alt="">
               <div class="text-muted ms-3 border-bottom w-100 py-3">
                  <h4 class="h6 m-0">User Name</h4>
                  <p class="m-0">last message</p>
               </div>
            </div>
            <div class="user d-flex align-items-center justify-content-start  mx-3 pe-2">
               <img class="w-15" src="../../assets/images/avatar2.png" alt="">
               <div class="text-muted ms-3 border-bottom w-100 py-3">
                  <h4 class="h6 m-0">User Name</h4>
                  <p class="m-0">last message</p>
               </div>
            </div>
            <div class="user d-flex align-items-center justify-content-start  mx-3 pe-2">
               <img class="w-15" src="../../assets/images/avatar2.png" alt="">
               <div class="text-muted ms-3 border-bottom w-100 py-3">
                  <h4 class="h6 m-0">User Name</h4>
                  <p class="m-0">last message</p>
               </div>
            </div>
            <div class="user d-flex align-items-center justify-content-start  mx-3 pe-2">
               <img class="w-15" src="../../assets/images/avatar2.png" alt="">
               <div class="text-muted ms-3 border-bottom w-100 py-3">
                  <h4 class="h6 m-0">User Name</h4>
                  <p class="m-0">last message</p>
               </div>
            </div>
            <div class="user d-flex align-items-center justify-content-start  mx-3 py-2">
               <img class="w-15" src="../../assets/images/avatar2.png" alt="">
               <div class="text-muted ms-3 border-bottom w-100 py-3">
                  <h4 class="h6 m-0">User Name</h4>
                  <p class="m-0">last message</p>
               </div>
            </div>
         </div>
      </div>
      <div class="chat-content vh-100 col-md-9 p-0 border-start">
         <div class="chat-header d-flex align-items-center bg-white-gray text-muted px-3 py-2">
            <img class="w-5" src="../../assets/images/avatar2.png" alt="">
            <div class=" ms-3 w-100">
               <h4 class="h6 m-0">User Name</h4>
               <p class="m-0">last seen</p>
            </div>
            <div class="chat-icons d-flex">
               <i class="fa-solid fa-magnifying-glass px-3"></i>
               <i class="fa-solid fa-ellipsis-vertical px-3"></i>

            </div>
         </div>
         <div class="chat-messages">
            <div class="sender-message background-sender-color ms-auto w-75 p-2 border rounded m-3">
               <p class="mt-auto bg-danger text-end">hello !</p>
            </div> 
            <div class="resever-message background-resever-color w-75 p-2 border rounded m-3">
               <p>hi! how are you ?</p>
            </div>
            <div class="sender-message background-sender-color ms-auto  w-75 p-2 bodrer rounded m-3">
               <p class="mt-auto text-end">good !</p>
            </div>
            <div class="resever-message background-resever-color w-75 p-2 border rounded m-3">
               <p>glad to hear that dude!</p>
            </div>
         </div>
         <div class="user-controls  w-100">
            <div class="bg-white-gray text-muted px-3 py-2 w-100 d-flex align-items-center justify-content-between">
               <div>
                  <i class="fa-regular fa-face-laugh px-3 font-30"></i>
                  <i class="fa-solid fa-plus px-3 font-30"></i>
               </div>
               <div class="w-85">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                     placeholder="type a message"></textarea>
               </div>
               <i class="fa-solid fa-microphone px-3 font-30"></i>
            </div>
         </div>
      </div>

   </div>
</section>