<section class="signup row m-auto ">
   <div class="container col-md-6 p-5 my-5 border bg-white-gray">
      <h2 class="text-center">Log In Now</h2>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Phone Number :</label>
         <input type="number" class="form-control" id="exampleFormControlInput1">
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Password :</label>
         <input type="password" class="form-control" id="exampleFormControlInput1">
       </div>
   </div>
</section>
